div.paragraph-section.recovery-intro {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:768px) {
    .affective-image {
        width: 100vw;
        text-align: center;
        align-items: center;
        float: none;
    }
}

.recovery-intro-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
    transform: translateY(-40px);
}

/* recovery timeline https://codepen.io/iqbaltaher/pen/abbXRxb */

.recovery-timeline {
    counter-reset: none;
    position: relative;
    color: black;
    width: 120%;
}

.recovery-timeline li {
    list-style: none;
    float: left;
    width: 11%;
    position: relative;
    text-align: center;
    color: black;
}

ul:nth-child(1) {
    color: black;
}

.recovery-timeline li:before {
    counter-increment: test;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid var(--dark-green);
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 0 auto 20px auto;
    background: var(--dark-green);
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.recovery-timeline li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--dark-green);
    top: 10px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.recovery-timeline li:first-child:after {
    content: none;
}

.recovery-timeline li.active-tl {
    color: black;
}

.recovery-timeline li.active-tl:before {
    background: var(--dark-green);
    color: #F1F1F1;
}

.recovery-timeline li.active-tl+li:after {
    background: var(--dark-green);
}

@media (max-width:900px) {
    .recovery-timeline {
        display: none;
        min-width: 620px;
    }
}

.affective-image {
    float: right;
}

.showering-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
    transform: translateY(-20px);
}

/* pain management section and icon rows */
div.paragraph-section.pain-management-intro {
    margin-bottom: 0px;
}

.pain-management-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 55px;
}

.pain-management-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: solid 3px var(--light-grey);
    border-radius: 10px;
    padding: 5px 20px 5px 10px;
    align-items: center;
}

.pain-management-icon img {
    width: 100px;
    text-align: center;
}

.pain-management-text {
    text-align: left;
    align-items: center;
}

@media (max-width: 900px) {
    .pain-management-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pain-management-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: solid 2px var(--light-grey);
    }

    .pain-management-icon {
        width: 15%;
    }

    .pain-management-text {
        text-align: left;
        align-self: center;
    }
}

.snacks-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
}


/* formatting catheter image grid */
.catheter-images {
    width: 100%;
    text-align: center;
    align-items: center;
}

.catheter-sagittal {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}

div.content-item.catheter-image-container {
    display: grid;
    --num-cols: 2;
    --num-rows: 2;
    float: right;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: repeat(var(--num-rows), 1fr);
    gap: 15px;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.content-item.catheter-image-container p {
    font-size: 14px;
}

img.catheter-images.affective-images {
    width: 50px;
}

.catheter-bag-image {
    width: 100%;
}

/* fix mobile styling so that these images don't get very small 
@media (max-width: 900px) {
    .catheter-bag-image {

    }
} */

.driving-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
}

.scar-massage-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
    transform: translateY(-40px);
}

.complications-image {
    width: 25vw;
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .complications-image {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
        float: none;
    }
}

.checkpoint-image {
    width: 15vw;
    float: left;
    margin: 0px 60px 40px 40px;
}


.checkpoint-text {
    margin-top: 40px;
}

.content-section .disclaimer-box {
    background-color: var(--light-grey);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

p.disclaimer-box.complications-disclaimers {
    padding: 20px;
    margin-top: 20px;
}

.fistula-text {
    margin-bottom: 25px;
}

div.content-item.fistula-image-container {
    display: grid;
    --num-cols: 2;
    --num-rows: 2;
    float: right;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: 0px;
    width: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
}

div.content-item.fistula-image-container .fistula-text {
    height: 40px;
}

.fistula-images {
    width: 100%;
    text-align: center;
    align-items: center;
}

@media (max-width: 900px) {
    div.content-item.fistula-image-container {
        width: 100%;
        margin-top: 20px;
    }
}

div.paragraph-section.fistula-section {
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    div.paragraph-section.fistula-section {
        margin-bottom: 30px;
    }
}

ol {
    margin-left: 5px;
}