<footer>
    <!--Not working yet!-->
    <div class="footer-content">
        <div class="footer-section">
            <h3>MetaMorphosis</h3>
            <p>placeholder text</p>
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="../index.html">Placeholder link</a></li>
                <li><a href="about.html">Placeholder link</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Placeholder content</h3>
            <ul>
                <li><a href="mailto:gracegibsonart@gmail.com" target="_blank">Placeholder content</a>
                <li><a href="https://gracecgibson.com/" target="_blank">Placeholder content</a>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p style="font-size: 15px;">&copy; 2026 MetaMorphosis. All rights reserved.</p>
    </div>
</footer>