
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles_components.css">
    <title>Footer</title>
</head>

<body>
<footer>
    <div class="footer-content">
        <div class="top-footer">
            <div class="logo">
                <a href="/index.html">
                <img src="/images/metamorphosis_logo_dark.svg" alt="Home button"/></a>
            </div>

            <p>In association with Women’s College Hospital and the University of Toronto</p>
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="../index.html">Placeholder link</a></li>
                <li><a href="about.html">Placeholder link</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Placeholder content</h3>
            <ul>
                <li><a href="mailto:gracegibsonart@gmail.com" target="_blank">Placeholder content</a>
                <li><a href="https://gracecgibson.com/" target="_blank">Placeholder content</a>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p style="font-size: 15px;">&copy; 2026 MetaMorphosis. All rights reserved.</p>
    </div>
</footer>

<script src="/JS files/include.js"></script>
</body>

</html>