<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_components.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <div class="logo">
                    <a href="/index.html">
                        <img src="/images/metamorphosis_logo_dark.svg" alt="Home button" /></a>
                </div>
                <div>
                    <p id="footer-right">In association with Women’s College Hospital and the University of Toronto</p>
                </div>
            </div>
            <hr>
            <div class="footer-section">
                <div>
                    <h2 class="questions-footer">Questions?</h2>
                    <!-- WE GOTTA FIX THIS MAILING ADDRESS BTW JUST CALLING ATTENTION TO IT SO WE DONT FORGET FOREVER -->
                    <!--lol at me seeing this bc i came here to fix it-->
                    <p class="questions-footer">Contact us at <a href="mailto:gracegibsonart@gmail.com"
                            target="_blank">metamorphosisemail@idk.ca</a></p>
                </div>
                <div id="footer-right">
                    <ul>
                        <li>Disclaimer</li>
                        <li>Privacy</li>
                        <li>&copy; 2026 MetaMorphosis. All rights reserved</li>
                    </ul>
                </div>
            </div>

    </footer>

    <script src="/JS files/include.js"></script>
</body>

</html>