<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_components.css">
    <title>header</title>

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/index.html">
                    <img src="/images/metamorphosis_logo.svg" alt="Home button" /></a>
            </div>

            <div class="header-buttons">
                <div class="toggle-container">
                    <button class="toggle-button" onclick="switchTheme()">
                        <span class="toggle-circle"></span>
                    </button>
                </div>

                <!--<a class="header-icon-link header-download-link"
                    href="/downloadable-pdfs/MetaMorphosis_sample_download_page.pdf"
                    download="metamorphosis_sample_download" aria-label="Download resource">
                    <img src="/images/download button.svg" alt="Download button" />
                </a>-->

                <!--<div class="tutorial-container">
                    <button class="tutorial-button">?
                    </button>
                </div>-->

                <a class="header-icon-link quick-esc-button" href="https://www.google.com/"
                    aria-label="Quick escape">Leave site
                    <img src="/images/homepage/exit_site_icon.svg"
                        style="width: 20px; height: 20px; padding-left: 10px" />
                </a>

                <!-- <div class="quick-escape-button" href="https://www.google.com/" aria-label="Quick escape">
                    <button> X </button>
                </div> -->

                <!-- this would be the labels for the buttons - figure out how to add -->
                <!-- <div class="theme-info">Theme: <span id="theme-name">Light</span></div> -->



            </div>
        </nav>
    </header>



    <script src="/JS files/include.js"></script>
</body>

</html>


<!-- <header>
    <nav>
        <div class="logo">
        <h1>MetaMorphosis</h1>
        </div>

        <ul class="nav-links">
        <li><a href="index.html">Before Surgery</a></li>
        <li><a href="pages/about.html">During Surgery</a></li>
        <li><a href="pages/about.html">After Surgery</a></li>
        <li><a href="pages/about.html">Glossary</a></li>
        <li><a href="pages/about.html">More Resources</a></li>
        </ul>
    </nav>
</header> -->