<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_components.css">
    <title>Menu</title>

    <style>
    </style>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="/index.html">Home</a>

        <a href="/pages/1. Metoidioplasty Overview.html">Metoidioplasty Overview</a>

        <a href="/pages/2. Before Surgery/A. BOYS.html">Before Surgery</a>
        <ul class="menu-item">
            <li><a href="/pages/2. Before Surgery/A. BOYS.html">Build Out Your Surgery</a></li>
            <li><a href="/pages/2. Before Surgery/B. While-You-Wait.html">While You Wait</a></li>
            <li><a href="/pages/2. Before Surgery/C. How-consults-work.html">How Consults Work</a></li>
        </ul>

        <a href="/pages/3. During Surgery/A. How-Surgery-Works.html">During Surgery</a>
        <ul class="menu-item">
            <li><a href="/pages/3. During Surgery/A. How-Surgery-Works.html">How Surgery Works</a></li>
            <li><a href="/pages/3. During Surgery/B. Related-Surgeries.html">Related Surgeries</a></li>
        </ul>

        <a href="/pages/4. After Surgery/A. Recovery.html">After Surgery</a>
        <ul class="menu-item">
            <li><a href="/pages/4. After Surgery/A. Recovery.html">Recovery</a></li>
            <li><a href="/pages/4. After Surgery/B. Complications.html">Complications</a></li>
            <li><a href="/pages/4. After Surgery/C. Life-and-Sex-After-Surgery.html">Life & Sex After Surgery</a></li>
            <li><a href="/pages/4. After Surgery/D. Patient-Experiences.html">Patient Experiences</a></li>
        </ul>
        <a href="/pages/5. Glossary.html">Glossary</a>
        <a href="/pages/6. More-Resources.html">More Resources</a>
    </div>

    <div class="top-stuff">

        <div class="top-stuff-left">
            <!-- button used to open the sidenav-->
            <span class="menu-button" onclick="openNav()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </span>

            <!-- download button -->
            <a href="/downloadable-pdfs/MetaMorphosis_sample_download_page.pdf"
                download="metamorphosis_sample_download">
                <button class="download-button">
                    <img src="/images/download button.svg" alt="Download button" />
                </button>
            </a>

        </div>

        <!-- quick escape button -->
        <button class="quick-esc-button">
            <a href="https://www.google.com/"><img src="/images/quickesc.svg" alt="Quick escape button"></a>
        </button>

    </div>


    <div class="bottom-stuff">
        <button class="download-button">
            <img src="/images/backward.png" alt="button to move to the previous page">
        </button>
        <button class="download-button">
            <img src="/images/forward.png" alt="button to move forward to the next page">
        </button>
    </div>


    </div>
    <script src="/JS files/include.js"></script>
</body>

</html>