<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/components/styles_components.css">
    <title>Menu</title>

    <style>
    </style>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a class="nav-links" href="/index.html">Home</a>

        <a class="nav-links" href="/pages/1.%20Metoidioplasty%20Overview.html">Metoidioplasty Overview</a>

        <a class="nav-links" href="/pages/2.%20Before%20Surgery/1.%20FAQ-before.html">Before Surgery</a>
        <ul class="menu-item">
            <li><a class="nav-links" href="/pages/2.%20Before%20Surgery/A.%20BOYS.html">Build Out Your Surgery</a></li>
            <li><a class="nav-links" href="/pages/2.%20Before%20Surgery/B.%20While-You-Wait.html">While You Wait</a></li>
            <li><a class="nav-links" href="/pages/2.%20Before%20Surgery/C.%20How-consults-work.html">How Consults Work</a></li>
        </ul>

        <a class="nav-links" href="/pages/3.%20During%20Surgery/1.%20FAQ-during.html">During Surgery</a>
        <ul class="menu-item">
            <li><a class="nav-links" href="/pages/3.%20During Surgery/A.%20How-Surgery-Works.html">How Surgery Works</a></li>
        </ul>

        <a class="nav-links" href="/pages/4.%20After%20Surgery/1.%20FAQ-after.html">After Surgery</a>
        <ul class="menu-item">
            <li><a class="nav-links" href="/pages/4.%20After%20Surgery/A.%20Recovery.html">Recovery</a></li>
            <li><a class="nav-links" href="/pages/4.%20After%20Surgery/B.%20Complications.html">Complications</a></li>
            <!--<li class="nav-item"><a href="/pages/4. After Surgery/C. Life-and-Sex-After-Surgery.html">Life & Sex After Surgery</a></li>-->
            <!--<li class="nav-item"><a href="/pages/4. After Surgery/D. Patient-Experiences.html">Patient Experiences</a></li>-->
        </ul>
        <a class="nav-links" href="/pages/5.%20Related-Surgeries.html">Related Surgeries</a>
        <a class="nav-links" href="/pages/6.%20Glossary.html">Glossary</a>
        <!--<a class="nav-links" href="/pages/7.%20More-Resources.html">More Resources</a>-->
        <a>&ZeroWidthSpace;</a>
    </div>

    <div class="top-stuff">

        <div class="top-stuff-left">
            <!-- button used to open the sidenav-->
            <span class="menu-button" onclick="openNav()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </span>
        </div>

    </div>


    <div class="bottom-stuff">
        <button class="download-button">
            <img src="/images/backward.png" alt="button to move to the previous page">
        </button>
        <button class="download-button">
            <img src="/images/forward.png" alt="button to move forward to the next page">
        </button>
    </div>


    </div>

    <script src="/JS files/include.js"></script>
</body>

</html>