<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles_components.css">
    <title>Menu</title>
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/index.html">Home</a>
        <a href="/pages/1. Metoidioplasty Overview.html">Metoidioplasty Overview</a>
        <a href="/pages/2. Before Surgery/A. BOYS.html">Before Surgery</a>
        <a href="/pages/3. During Surgery/A. How-Surgery-Works.html">During Surgery</a>
        <a href="/pages/4. After Surgery/A. Recovery.html">After Surgery</a>
        <a href="/pages/5. Glossary.html">Glossary</a>
        <a href="/pages/6. More-Resources.html">More Resources</a>
    </div>

    <div class="top-stuff">

        <div class="top-stuff-left">
            <!-- button used to open the sidenav-->
            <span class="menu-button" onclick="openNav()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            </span>

            <!-- download button -->
            <button class="download-button">
                <img src="/images/download button.svg" alt="Download button"/>
            </button>

        </div>

        <!-- quick escape button -->
         <button class="quick-esc-button">
            <img src="/images/quickesc.svg" alt="Quick escape button">
         </button>

    </div>
   


    <script src="/JS files/include.js"></script>
</body>
</html>