<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/components/styles_components.css">
    <title>Scroll to top button</title>
</head>

<body>
    <p><b>This page is approximately a __ minute read.</b><br></br><br></br>
        <a href="#what_is_meta">What is Metoidioplasty?</a>: metoidioplasty is a gender-affirming
        genital surgery<br></br>
        <a href="#options">What are my options?</a>: WCH offers a variety of choices depending on
        your goals<br></br>
        <a href="#goals">Goals, Expectations, Risks, and Recovery</a>: things to consider before
        surgery<br></br>
        <a href="#meta_v_phallo">Metoidioplasty vs phalloplasty</a>: compare lower surgeries to see
        which one is right for
        you<br></br>
        <a href="#at_wch">Surgery at WCH</a>: meta funding in Ontario and other places to get
        surgery
    </p>
    </div>

    <div class="paragraph-section">
        <h2 id="what_is_meta">What is Metoidioplasty?</h2>
        <div class="content-section">
            <div class="content-item">
                <p>Metoidioplasty is a gender-affirming surgery that creates a penis from your existing
                    genital tissue (<span
                        title="the sexual organ at the top of the vulva, in front of your pee hole"><u>clitoris</u></span>
                    and labia). The word “metoidioplasty” comes from a
                    combination
                    of Greek words:
                <div class="indent">
                    <p>Meta: towards<br></br>
                        Oidion: male genitalia<br></br>
                        Plastos: shaping or molding.
                    </p>
                </div>
                <p>The primary goal is to create a penis (5-9 cm long on average) with full sensation
                    using
                    the
                    existing genital tissue. Metoidioplasty is also called “meta” for short.<br></br>

                    Meta is different from phalloplasty, another genital surgery that creates a penis.
                    Instead of using the clitoris and labia, phalloplasty uses a graft transferred from
                    another part of your body. Phalloplasty usually results in a larger penis than
                    meta.<br></br>

                    Keep scrolling to learn more about metoidioplasty and how it compares to
                    phalloplasty.
                </p>
            </div>
            <div class="content-item">
                <img src="/images/illustrations/high_detail_full_meta copy.jpg" style="width:20vw">
            </div>
        </div>
    </div>

    <div class="paragraph-section">
        <h2>Who is this site for?</h2>
        <div class="content-section">
            <div class="content-item">
                <p>This site was created for patients in the meta program at Women’s College Hospital
                    (WCH) in Toronto, so some information will be location-specific. The information on
                    this site is still relevant to anyone who wants to learn more about metoidioplasty.
                </p>
            </div>
        </div>
    </div>

    <div class="paragraph-section">
        <h2 id="options">What are my options?</h2>
        <div class="content-section">
            <div class="content-item">
                <p>You can choose different options for surgery depending on your personal goals. There
                    are 4
                    procedures available at WCH:
                </p>
            </div>
        </div>

        <div class="content-section">
            <div class="option-item">
                <p><b>1. Simple meta:</b> The ligaments that hold the clitoris close to the body are cut
                    to give it more mobility and make it
                    more visible. The labia minora is wrapped around the underside of the clitoris to
                    make a penis.</p>
            </div>
            <div class="option-item">
                <div class="content-image">
                    <img src="/images/overview/simple_before.png" />
                    <img src="/images/overview/simple_after.png" />
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="option-item">
                <p><b>2. Vaginectomy (Vnectomy):</b> The vaginal lining is removed but the muscles
                    around the
                    outside of the canal stay there. The
                    vaginal canal and the vaginal opening (front hole) are fully closed. You must have a
                    hysterectomy at
                    least 3 months before having a vaginectomy.</p>
            </div>
            <div class="option-item">
                <div class="content-image">
                    <img src="/images/overview/vnectomy_before.png" />
                    <img src="/images/overview/vnectomy_after.png" />
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="option-item">
                <p><b>3. Urethral Lengthening:</b> The urethral opening (pee hole) is moved to the tip
                    of the new penis. Depending on your anatomy,
                    this may allow you to pee in a standing position. If you choose this option you will
                    need to have a
                    vaginectomy, which can be done at the same time as the metoidioplasty.</p>
            </div>
            <div class="option-item">
                <div class="content-image">
                    <img src="/images/overview/ul_before.png" />
                    <img src="/images/overview/ul_after.png" />
                </div>
            </div>
        </div>

        <button onclick="topFunction()" id="scroll-top" title="Go to top" class="scroll-top-btn">↑</button>
        
        <script src="/JS files/include.js"></script>
        
</body>

</html>