:root {
    --dark-green: #627773;
    --mid-green: #80AC8E;
    --light-green: #CCDDCA;
    --light-grey: #eeeeee;
    --dark-grey-text: #3d3e3e;

    --body-text: Inter, sans-serif;
    --header-text: Nunito, bold sans-serif;
    --body-text-desktop: 18px;
    --body-text-mobile: 16px;
    --h1-size: 48px;
    --h2-size: 24px;
    --body-line-height: 1.2;
    --figure-cap-text: 16px;

}

@font-face {
    font-family: Nunito;
    font-weight: bold;
    font-style: normal;
    src: url(/images/Nunito/static/Nunito-Bold.ttf);
}

h1 {
    font-family: Nunito;
    font-size: var(--h1-size);
    color: var(--dark-green);
}

h2 {
    font-family: Nunito;
    font-size: var(--h2-size);
    color: var(--dark-green);
}

p {
    font-family: var(--body-text);
    color: var(--dark-green);
}

header {
    background-color: var(--dark-green);
    padding-top: 1rem;
    padding-bottom: 1rem;
    Padding-left: 2rem;
    padding-right: 5.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0, 0, 0, 0;
}

.sticky-header {
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40%;
}

/* Responsive Header */
/* which doesn't fucking work!!!! fuck!!! */
@media (max-width: 768px) {
    .logo img {
        min-width: 40vw;
    }
}

/* styling for dark mode toggle */
body {
    font-family: var(--body-text);
    transition: background-color 0.5s;
    background-color: #ffffff;
    margin: 0;
}

.dark-mode {
    background-color: var(--dark-grey-text);
}

.dark-mode-text {
    color: #ffffff;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.toggle-button {
    border: 2px solid var(--dark-grey-text);
    background-color: var(--light-grey);
    border-radius: 30px;
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s;
}

.toggle-button .toggle-circle {
    background-color: var(--dark-grey-text);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.5s;
}

.toggle-button.active {
    background-color: var(--dark-grey-text);
    border-color: #fff;
}

.toggle-button.active .toggle-circle {
    left: 32px;
    background-color: #fff;
}

.theme-info {
    text-align: center;
    font-size: 1.2em;
    margin-left: 2px;
}


/* Tutorial button styling */
.tutorial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 22px;
}


.tutorial-button {
    border: 2px solid var(--dark-grey-text);
    background-color: var(--light-grey);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    font: var(--header-text);
}

/* Sidebar nav */

/* The side navigation menu */
.menu {
    margin-top: auto;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    /* top: 0; Stay at the top */
    left: 0;
    background-color: var(--light-grey);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: var(--h2-size);
    color: var(--dark-green);
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--dark-grey-text);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-item a {
    font-size: 18px;
}

.sidenav ul {
    list-style: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    margin-top: 0;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 15vh;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* Menu button animation */
.menu-button {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--dark-green);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Download button */
.download-button {
    cursor: pointer;
    border: 0px;
    background-color: rgba(1, 1, 1, 0);

}

/* Quick escape button */
.quick-esc-button {
    cursor: pointer;
    border: 0px;
    background-color: rgba(1, 1, 1, 0);
    ;
}

.top-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.top-stuff-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40%;
    transition: margin-left .5s;
}

/* Footer Styling */
footer {
    background-color: var(--light-grey);
    padding: 3rem 2rem 1rem;
    margin-bottom: 0;
    bottom: 0px;
    position: sticky;
    max-width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-section {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 20%;
    max-width: 100vw;
    padding: 1rem, 1rem;
}

.footer-section p {
    margin-bottom: 0.5rem;
    line-height: 1.6;
}

#footer-right p {
    text-align: right;
    color: var(--dark-green);
}

#footer-right li {
    text-align: right;
    color: var(--dark-green);
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: var(--dark-green);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: rgb(36, 165, 239);
}

/* Horizontal line in da footer */
hr {
    border-top: 1px solid var(--dark-green);
    width: 98%;
    margin: 0 auto;
}

/* Responsive footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        display: block;
    }

    .footer-section {
        flex-direction: column;
        margin: 0.2rem;
    }

    .footer-section p {
        text-align: left;
        font-size: var(--body-text-mobile);
    }

    #footer-right li {
        text-align: left;
    }

    #footer-right ul {
        padding-left: 0;
    }

    .logo img {
        width: 80%;
    }

    footer {
        padding: 1rem 1rem 1rem;
    }

}

/* Main content styling */
.content-section {
    display: flex;
    gap: 10%;
    margin: 1rem auto;
    width: 100%;
    align-items: center;
}

.content-section img {
    width: 40%;
    padding: 30px;
}

/* Responsive ish content styling */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .content-section img {
        width: 70%;
        padding: 15px;
    }

    h1 {
        font-size: 36px;
    }
}

/* styling the grid of 4 icons on the home page */
.home-page .lab-gallery {
    --gap: 16px;
    --num-cols: 2;
    --num-rows: 2;
    --row-width: 300px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: repeat(var(--num-rows), 1fr);
    gap: var(--gap);
    max-width: 100%x;
}

.lab-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--border-style);
}

.gallery-cols-2 {
    grid-column: span 2;
}

.gallery-rows-2 {
    grid-row: span 2;
}

.home-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.home-page img {
    width: 100%;
}

/* Responsive ish content styling */
@media (max-width: 768px) {
    .home-page {
        flex-direction: column;
    }

    .home-page img {
        width: 70%;
        padding: 15px;
    }

    h1 {
        font-size: 36px;
    }
}

/* next/last page buttons */
.bottom-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0;
    bottom: 0px;
    position: fixed;
    z-index: 10;
    /* i turned opacity to 0 to do some stuff, just delete this line and the opacity property if it's still there when you see this */
    opacity: 0;
}